# 종합 독서량

In [8]:
# 종이책 + 전자책 + 오디오북 종합 독서량 (학생)

import pandas as pd

df = pd.read_csv('./data/종이책전자책오디오북_종합_독서량__학생__20220810144203.csv', encoding='cp949',
                 header =[0,1],
                 index_col=[0,1,2],
                )

df

통계분류(1)          2019                2021
통계분류(1)           사례수  전체 평균 독서자 평균   사례수 전체 평균 독서자 평균
전체     소계   소계   3126   41.0   45.2  3320  34.4   37.6
학교급    초등학교 소계   1005   86.9   90.9  1117  66.6   69.5
       중학교  소계    985   25.5   28.0  1095  23.5   25.6
       고등학교 소계   1136   12.5   14.6  1108  12.6   14.6
학교급 학년 초등학교 4학년   333  104.8  108.0   380  76.3   78.2
            5학년   351   98.9  100.5   360  63.6   68.1
            6학년   320   56.2   61.8   376  59.6   61.8
       중학교  1학년   308   30.7   33.0   394  30.8   32.8
            2학년   332   21.3   23.9   357  22.6   24.3
            3학년   345   24.6   27.0   344  16.2   18.3
       고등학교 1학년   338   13.0   14.7   392  15.7   17.7
            2학년   377   12.9   15.0   364  11.6   13.4
            3학년   421   11.9   14.1   352  10.2   12.1

In [9]:
df.columns

MultiIndex([('2019',    '사례수'),
            ('2019',  '전체 평균'),
            ('2019', '독서자 평균'),
            ('2021',    '사례수'),
            ('2021',  '전체 평균'),
            ('2021', '독서자 평균')],
           names=['통계분류(1)', '통계분류(1)'])

In [12]:
# 종이책 + 전자책 + 오디오북 종합 독서량 (성인)

import pandas as pd

df = pd.read_csv('./data/종이책전자책오디오북_종합_독서량__성인__20220810144133.csv', encoding='cp949',
                 header =[0,1],
                 index_col=[0,1],
                )

df

통계분류(1)             2019               2021
통계분류(1)              사례수 전체 평균 독서자 평균   사례수 전체 평균 독서자 평균
전체    소계            6000   7.5   13.5  6000   4.5    9.5
성별    남성            2990   7.1   12.9  2991   4.5    9.3
      여성            3010   7.9   14.0  3009   4.5    9.6
연령별   19~29세        1057  11.4   14.6  1016   8.5   10.8
      30~39세        1022   9.8   13.1   964   6.8    9.9
      40~49세        1158   8.4   13.8  1123   4.9    9.9
      50~59세        1192   5.2   11.5  1173   2.6    7.3
      60세 이상        1571   4.5   13.8  1724   1.9    7.8
학력별   중졸 이하          934   1.6    7.7   900   0.6    5.2
      고졸/고퇴         2127   4.4   10.6  2136   2.4    7.6
      대재 이상         2939  11.6   15.1  2964   7.1   10.3
가구소득별 200만원 미만       954   3.7   12.5   715   1.6    7.7
      200~300만원 미만   920   7.1   14.7   888   2.9    9.4
      300~400만원 미만  1515   6.9   12.7  1412   4.3    9.4
      400~500만원 미만  1290   7.2   11.6  1521   5.1    9.4
      500만원 이상      1321  11.5   15.3  1464   6.4    9.8

In [ ]:
data = data.apply(pd.to_numeric)