## 도서관 컬럼정보

# 도서관 현황

In [4]:
import pandas as pd

df2 = pd.read_excel('./data/도서관 정보_컬럼정의서.xlsx',
                )

df2

    순서               컬럼영문명     컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0    1            LBRRY_CD     도서관코드      int     1    Y          Y
1    2            LBRRY_NM      도서관명  varchar   100    N          N
2    3          LBRRY_ADDR     도서관주소  varchar   100    N          N
3    4            LBRRY_LA     도서관위도  varchar    10    N          N
4    5            LBRRY_LO     도서관경도  varchar    11    N          N
5    6         ONE_AREA_NM      1지역명  varchar    45    N          N
6    7         TWO_AREA_NM      2지역명  varchar    45    N          N
7    8            LBRRY_NO     도서관번호  varchar    10    N          N
8    9        API_LBRRY_NO  API도서관번호  varchar    10    N          N
9   10               TELNO      전화번호  varchar    14    N          N
10  11                FXNO      팩스번호  varchar    14    N          N
11  12          HMPG_VALUE     홈페이지값  varchar   100    N          N
12  13          OPNNG_TIME      개관시간  varchar  1000    N          N
13  14         CLOSEDON_DC     휴관일설명  varchar   150    N          N
14  15         LBRRY_TY_CD   도서관유형코드      int    11    N          N
15  16         LBRRY_TY_NM    도서관유형명  varchar    10    N          N
16  17      FOND_MBY_VALUE     설립주체값  varchar    10    N          N
17  18          OPNNG_YEAR      개관년도  varchar     4    N          N
18  19                 ZIP      우편번호  varchar     5    N          N
19  20         X_CORT_VLUE      X좌표값  varchar    30    N          N
20  21         Y_CORT_VLUE      Y좌표값  varchar    30    N          N
21  22       MUMM_LON_YEAR    최소대출년도  varchar     4    N          N
22  23  BSNS_PARTCPTN_YEAR    사업참여년도  varchar     4    N          N
23  24      MASTR_LBRRY_CD  마스터도서관코드      int    11    N          N
24  25        LBRRY_NCM_NM    도서관별칭명  varchar    30    N          N
25  26        ETC_LBRRY_CD   기타도서관코드  varchar    30    N          N
26  27             AREA_CD      지역코드  varchar    10    N          N
27  28      ETC_LBRRY_ADDR   기타도서관주소  varchar   100    N          N
28  29        ETC_LBRRY_NM    기타도서관명  varchar   100    N          N
29  30    TWO_ETC_LBRRY_NM   2기타도서관명  varchar   100    N          N
30  31          REPRSNT_YN      대표여부  varchar     1    N          N
31  32         ONE_AREA_CD     1지역코드  varchar    10    N          N
32  33         TWO_AREA_CD     2지역코드  varchar    10    N          N
33  34         WETHER_ARCD    날씨지역코드  varchar    10    N          N

In [6]:
df2['컬럼영문명'].tolist()

['LBRRY_CD',
 'LBRRY_NM',
 'LBRRY_ADDR',
 'LBRRY_LA',
 'LBRRY_LO',
 'ONE_AREA_NM',
 'TWO_AREA_NM',
 'LBRRY_NO',
 'API_LBRRY_NO',
 'TELNO',
 'FXNO',
 'HMPG_VALUE',
 'OPNNG_TIME',
 'CLOSEDON_DC',
 'LBRRY_TY_CD',
 'LBRRY_TY_NM',
 'FOND_MBY_VALUE',
 'OPNNG_YEAR',
 'ZIP',
 'X_CORT_VLUE',
 'Y_CORT_VLUE',
 'MUMM_LON_YEAR',
 'BSNS_PARTCPTN_YEAR',
 'MASTR_LBRRY_CD',
 'LBRRY_NCM_NM',
 'ETC_LBRRY_CD',
 'AREA_CD',
 'ETC_LBRRY_ADDR',
 'ETC_LBRRY_NM',
 'TWO_ETC_LBRRY_NM',
 'REPRSNT_YN',
 'ONE_AREA_CD',
 'TWO_AREA_CD',
 'WETHER_ARCD']

In [7]:
df2['컬럼한글명'].tolist()

['도서관코드',
 '도서관명',
 '도서관주소',
 '도서관위도',
 '도서관경도',
 '1지역명',
 '2지역명',
 '도서관번호',
 'API도서관번호',
 '전화번호',
 '팩스번호',
 '홈페이지값',
 '개관시간',
 '휴관일설명',
 '도서관유형코드',
 '도서관유형명',
 '설립주체값',
 '개관년도',
 '우편번호',
 'X좌표값',
 'Y좌표값',
 '최소대출년도',
 '사업참여년도',
 '마스터도서관코드',
 '도서관별칭명',
 '기타도서관코드',
 '지역코드',
 '기타도서관주소',
 '기타도서관명',
 '2기타도서관명',
 '대표여부',
 '1지역코드',
 '2지역코드',
 '날씨지역코드']

In [1]:
import pandas as pd

df = pd.read_csv('./data/NL_CD_LIBRARY_202206.csv'
                )

df.head()

,LBRRY_CD,LBRRY_NM,LBRRY_ADDR,LBRRY_LA,LBRRY_LO,ONE_AREA_NM,TWO_AREA_NM,LBRRY_NO,API_LBRRY_NO,TELNO,...,LBRRY_NCM_NM,ETC_LBRRY_CD,AREA_CD,ETC_LBRRY_ADDR,ETC_LBRRY_NM,TWO_ETC_LBRRY_NM,REPRSNT_YN,ONE_AREA_CD,TWO_AREA_CD,WETHER_ARCD
0,1500,포천시립중앙도서관,경기도 포천시 신북면 중앙로207번길 26,37.905303,127.206376,경기도,포천시,141333.0,141333.0,031-538-3911,...,중앙,MA,7,경기도 포천시 신북면 가채리 770,포천시립중앙도서관,포천시립중앙도서관,Y,경기도,포천시,동두천
1,1501,포천시립소흘도서관,경기도 포천시 소흘읍 송우로 101-29,37.829605,127.137534,경기도,포천시,141172.0,141172.0,031-538-3952,...,소흘,MB,7,경기도 포천시 소흘읍 송우리 728-7,포천시립소흘도서관,소흘도서관,N,경기도,포천시,동두천
2,1502,포천시립일동도서관,경기도 포천시 일동면 화동로 1021,37.954936,127.315456,경기도,포천시,141094.0,141094.0,031-538-3932,...,일동,MC,7,경기도 포천시 일동면 기산리 284-3,포천시립일동도서관,일동도서관,N,경기도,포천시,동두천
3,1503,포천시립영중꿈나무도서관,경기도 포천시 영중면 양문로 151,38.005629,127.245302,경기도,포천시,141102.0,141102.0,031-538-3945,...,영중,MD,7,경기도 포천시 영중면 양문리 833-2,포천시립영중어린이도서관,영중꿈나무도서관,N,경기도,포천시,동두천
4,1504,포천시립영북도서관,경기도 포천시 영북면 운천안길 3,38.087682,127.274170,경기도,포천시,141520.0,141520.0,031-538-3972,...,영북,ME,7,경기도 포천시 영북면 운천리 540-2,포천시립영북도서관,영북도서관,N,경기도,포천시,동두천

In [12]:
df.columns = ['도서관코드',
 '도서관명',
 '도서관주소',
 '도서관위도',
 '도서관경도',
 '1지역명',
 '2지역명',
 '도서관번호',
 'API도서관번호',
 '전화번호',
 '팩스번호',
 '홈페이지값',
 '개관시간',
 '휴관일설명',
 '도서관유형코드',
 '도서관유형명',
 '설립주체값',
 '개관년도',
 '우편번호',
 'X좌표값',
 'Y좌표값',
 '최소대출년도',
 '사업참여년도',
 '마스터도서관코드',
 '도서관별칭명',
 '기타도서관코드',
 '지역코드',
 '기타도서관주소',
 '기타도서관명',
 '2기타도서관명',
 '대표여부',
 '1지역코드',
 '2지역코드',
 '날씨지역코드']

In [16]:
df.head()

,도서관코드,도서관명,도서관주소,도서관위도,도서관경도,1지역명,2지역명,도서관번호,API도서관번호,전화번호,...,도서관별칭명,기타도서관코드,지역코드,기타도서관주소,기타도서관명,2기타도서관명,대표여부,1지역코드,2지역코드,날씨지역코드
0,1500,포천시립중앙도서관,경기도 포천시 신북면 중앙로207번길 26,37.905303,127.206376,경기도,포천시,141333.0,141333.0,031-538-3911,...,중앙,MA,7,경기도 포천시 신북면 가채리 770,포천시립중앙도서관,포천시립중앙도서관,Y,경기도,포천시,동두천
1,1501,포천시립소흘도서관,경기도 포천시 소흘읍 송우로 101-29,37.829605,127.137534,경기도,포천시,141172.0,141172.0,031-538-3952,...,소흘,MB,7,경기도 포천시 소흘읍 송우리 728-7,포천시립소흘도서관,소흘도서관,N,경기도,포천시,동두천
2,1502,포천시립일동도서관,경기도 포천시 일동면 화동로 1021,37.954936,127.315456,경기도,포천시,141094.0,141094.0,031-538-3932,...,일동,MC,7,경기도 포천시 일동면 기산리 284-3,포천시립일동도서관,일동도서관,N,경기도,포천시,동두천
3,1503,포천시립영중꿈나무도서관,경기도 포천시 영중면 양문로 151,38.005629,127.245302,경기도,포천시,141102.0,141102.0,031-538-3945,...,영중,MD,7,경기도 포천시 영중면 양문리 833-2,포천시립영중어린이도서관,영중꿈나무도서관,N,경기도,포천시,동두천
4,1504,포천시립영북도서관,경기도 포천시 영북면 운천안길 3,38.087682,127.274170,경기도,포천시,141520.0,141520.0,031-538-3972,...,영북,ME,7,경기도 포천시 영북면 운천리 540-2,포천시립영북도서관,영북도서관,N,경기도,포천시,동두천

In [26]:
df['1지역명'].value_counts()

경기도        367
서울특별시      312
경상북도       104
경상남도        94
충청남도        72
전라북도        58
대구광역시       57
전라남도        52
부산광역시       46
강원도         45
충청북도        37
울산광역시       35
인천광역시       33
대전광역시       26
광주광역시       22
세종특별자치시     16
제주특별자치도     15
Name: 1지역명, dtype: int64

In [29]:
gyeonggi = df[df['1지역명']=='경기도']

In [30]:
seoul = df[df['1지역명']=='서울특별시']

In [31]:
gyeongbuk = df[df['1지역명']=='경상북도']

In [32]:
gyeongnam = df[df['1지역명']=='경상남도']

In [33]:
chungbuk = df[df['1지역명']=='충청북도']

In [34]:
chungnam = df[df['1지역명']=='충청남도']

In [35]:
junbuk = df[df['1지역명']=='전라북도']

In [36]:
junnam = df[df['1지역명']=='전라남도']

In [37]:
daegue = df[df['1지역명']=='대구광역시']

In [38]:
pusan = df[df['1지역명']=='부산광역시']

In [39]:
gangwon = df[df['1지역명']=='강원도']

In [40]:
ulsan = df[df['1지역명']=='울산광역시']

In [41]:
incheon = df[df['1지역명']=='인천광역시']

In [42]:
daejeon = df[df['1지역명']=='대전광역시']

In [43]:
gwangju = df[df['1지역명']=='광주광역시']

In [44]:
sejong = df[df['1지역명']=='세종특별자치시']

In [45]:
jeju = df[df['1지역명']=='제주특별자치도']